<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <h1>Everything is awesome!!!</h1>
  <p>Welcome to <%= title %>
    <h2>Humans are amazing, despite their flaws!</h2>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, ratione provident accusamus deleniti quod
      accusantium quae quos recusandae at illum assumenda, adipisci numquam ullam, modi repellat eius nisi dolores
      molestias. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, ea provident laborum illum distinctio
      iusto, et reiciendis laudantium hic saepe molestiae autem, modi suscipit inventore nam eius asperiores nulla
      voluptate.</h5>
  </p>
  <hr />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi suscipit nam unde magnam consectetur rem voluptas
    accusantium temporibus quaerat. Ipsam nobis autem ad dignissimos reiciendis officia, consequatur debitis perferendis
    dolores?</p>
  <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, ratione provident accusamus deleniti quod
    accusantium quae quos recusandae at illum assumenda, adipisci numquam ullam, modi repellat eius nisi dolores
    molestias. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, ea provident laborum illum distinctio
    iusto, et reiciendis laudantium hic saepe molestiae autem, modi suscipit inventore nam eius asperiores nulla
    voluptate.</h5>
</body>

</html>